<div class="card">
    <div class="card-header">
        მიმოხილვა
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">


            <p class="mb-2">მოგესალმებით, რადგანაც დავალება ძალიან მარტივი იყო და უბრალოდ ცოდნის შემოწმება იყო მიზანი,
                გადავწყვიტე
                ცოტა "გამერთულებინა" საქმე და ტექნიკების სადემონსტრაციოდ ავაწყვე შემდეგნაირად პროექტი, როგორი სახითაცაა
                ახლა. მოცემული დავალებების შესრულება უფრო მარტივადაც შეიძლებოდა, რა თქმა უნდა.</p>

            <p class="mb-2">API-ს გამოძახებების იმიტაციისთვის პროექტში დავამატე <b>"json-server"</b> და ასევე პროექტში
                არის ფაილი <b>"db.json"</b>, რომელიც მონაცემთა ბაზის იმიტაციას გაგვიწევს. მისი და პროექტის სრულფასოვნად
                გამოსაყენებლად საკმარისია მხოლოდ პროექტის გაშვების შემდეგ გავხსნათ მეორე ტერმინალი და გავუშვათ შემდეგი
                ბრძანება: <b>json-server --watch db.json</b>, იგი გაეშვება :3000 პორტზე და თუ ეგ პორტი დაკავებული იქნება
                თქვენს კომპიუტერში და სხვა პორტზე გაეშვა, ეგ პორტი მიუთითეთ environments/environment.ts ფაილში
                განსაზღვრულ "apiURL" ცვლადში. </p>


            <footer class="blockquote-footer mt-3">პატივისცემით, გელა ჩადუნელი </footer>
        </blockquote>
    </div>
</div>